* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  text-transform: uppercase;
  font-size: 3rem;
}

.container {
  padding: 50px 0;
  width: 1100px;
  background: #efedec;
  box-shadow: rgba(165, 149, 149, 0.2) 0 8px 24px;

  display: grid;
  /* grid-template-columns:300px 300px 500px; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 300px 300px 300px; */
  grid-template-rows: repeat(3, 300px);

  /* grid-column-gap: 30px;
  grid-row-gap: 30px; */
  grid-gap: 30px;

  grid-auto-rows: 100px;
  grid-auto-flow:column;
  grid-auto-columns:1fr;
}

.item-1 {
  background: rgb(240, 126, 126);
}

.item-2 {
  background: rgb(240, 194, 126);
}

.item-3 {
  background: rgb(240, 126, 132);
}

.item-4 {
  background: rgb(59, 158, 104);
}

.item-5 {
  background: rgb(10, 168, 81);
}

.item-6 {
  background: rgb(126, 185, 240);
}

.item-7 {
  background: rgb(126, 128, 240);
}

.item-8 {
  background: rgb(148, 93, 180);
}

.item-9 {
  background: rgb(240, 126, 240);
}

.item-4{
  grid-row: 2/3;
  grid-column: 1/-1;
}

.item-5{
  grid-row: 3/4;
  grid-column: 1/-1;
}